# Gradle
build/
.gradle/
gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.eclipse/
.settings/
.classpath
.project
bin/

# OS
.DS_Store
Thumbs.db

# Mod
run/
logs/
src/generated/
repo/
